@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&family=Zilla+Slab&display=swap');

/* Note|| Font stle is 'Poppins' 16px */

:root{
    font-size: 16px;
    --black-color: rgb(31, 29, 28);
    --white-color: #FFFFFF;
    --blue-color: #56A8CBFF;
    --green-color: #3fd4b7;
    --input-background-color: rgb(194, 207, 219);
    --font-school-name: 'Zilla Slab', serif;
    --font-tagline: 'Overpass', sans-serif;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.loader-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1e1e1e;
    z-index: 1000;
    transition: 750ms ease;
}
.wrapper{
    width:200px;
    height:60px;
    position: absolute;
    left:50%;
    top: 40%;
    transform: translate(-50%, -50%);
}
.circle{
    width:20px;
    height:20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left:15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle{
    0%{
        top:60px;
        height:5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height:20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        top:0%;
    }
    }
    .circle:nth-child(2){
    left:45%;
    animation-delay: .2s;
    }
    .circle:nth-child(3){
    left:auto;
    right:15%;
    animation-delay: .3s;
    }
    .shadow{
    width:20px;
    height:4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top:62px;
    transform-origin: 50%;
    z-index: -1;
    left:15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
    }

    @keyframes shadow{
    0%{
        transform: scaleX(1.5);
    }
    40%{
        transform: scaleX(1);
        opacity: .7;
    }
    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
    }
    .shadow:nth-child(4){
    left: 45%;
    animation-delay: .2s
    }
    .shadow:nth-child(5){
    left:auto;
    right:15%;
    animation-delay: .3s;
    }
    .wrapper span{
    position: absolute;
    top: 75px;
    font-size: 25px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    }



/* when sticky nav bar */

.lp_nav.sticky{
    background: var(--blue-color);
    height: 100px;
    
}

.lp_nav_mid .hide{
    transform: rotateX(-45deg);
    transform: scale(4);
    opacity: 0;
    visibility: hidden;
}

.lp_nav_mid.shrink{
    margin: auto 20px;
    width: 60px;
    height: 60px;
    text-align: center;
}

.lp_nav > *{
    transition: 300ms;
}

.lp_nav{
    width: 100%;
    background-color: none;
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 5px;
    z-index: 999;
    transition: 500ms;
    
}


.lp_nav_left ul, .lp_nav_right ul{
    display: flex;
    height: 100%;
}

.lp_nav_left ul li, .lp_nav_right ul li{
    list-style: none;
    margin: auto 10px;
    display: block;
}

.lp_nav_left ul li a, .lp_nav_right ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 400;
}



.lp_nav_left ul li a:hover, .lp_nav_right ul li a:hover{
    color: #0d6efd;
}

.lp_nav_mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 50px;
}

.lp_nav_mid img{
    width: 55px;
    height: 55px;
    
}

.lp_nav_mid p{
    font-size: 3rem;
    font-family: var(--font-school-name);
    font-weight: 900;
    color: #FFFFFF;
    transition: 250ms;
}
.lp_nav_mid span{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--font-tagline);
    color: var(--white-color);
    
}

    /* Header Section || Home */

.header{
    width: 100%;
    height: 100vh;
}

.swiper{
    height: 100vh;
    width: 100%;    
}
.swiper-slide{
    background: #151e3d;
    padding: 25px;
}

.swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    transition: 250ms ease;
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #0c6dd4;
}

.first{
    background-image: url("../images/index_img/index_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.first_container{
    position: absolute;
    top: 40%;;
    left: 25%;
    transform: translate(-50%, -50%);

}

.typee_p{
    font-size: 4rem;
    font-weight: 700;
    color: var(--blue-color);
    text-shadow: 0 1px 0 #004e92, 0 2px 0 #0c6dd4, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    letter-spacing: 0.1rem;
    overflow: hidden; 
}

.new_p{
    font-size: 3rem;
    color: var(--white-color);
}

.first_container a{
    color: var(--white-color);
    font-size: 2rem;
}


.cursor.typing{
    animation: none;
}
 .cursor{
    display: inline-block;
    width: 2px;
    
    background-color: #ccc;
    margin-left: .5px;
    animation: blink 1000ms infinite;
    margin: 0;
}



@keyframes blink {
    0%{
        background-color: #ccc;
    }
    49%{
        background-color: #ccc;
    }
    50%{
        background: transparent;
    }
    99%{
        background: transparent;
    }
    100%{
        background-color: #ccc;
    }
    
}

.second{
    background-image: url("../images/slider_pics/slider_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    
}

.second_wrapper{
    text-align: center;
    border-width: 7px;
    border-style: solid;
    
    border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%;

    border-radius: 25px;
    padding: 10px;
    position: absolute;
    left: 30%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.covid_span{
    font-size: 3.5rem;
    color: rgb(255, 0, 0);
}

.second h3{
    font-size: 3rem;
    color: rgb(238, 18, 62);
}

.second a{
    font-size: 1.5rem;
    color: var(--white-color);
    transition: all 100ms ease;
   
}

.second a:hover{
    color: lightgreen;
    filter: brightness(120%);
}

.third{
    background-image: url("../images/slider_pics/slider_bg_2.png");
    background-repeat: no-repeat;
    background-size: 750px;
    background-position: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.third h1{
    color: #0d6efd;
    font-size: 2.5rem;
}

.third p{
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.third a{
    color: var(--green-color);
    font-size: 1.5rem;
    background-color: transparent;
    padding: 4px 5px;
    width: 250px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid var(--green-color);
    -webkit-box-shadow: 2px 5px 5px 0px var(--blue-color);
    -moz-box-shadow: 2px 5px 5px 0px var(--blue-color);
    box-shadow: 2px 5px 5px 0px var(--blue-color);
    text-align: center;
    transition: all 250ms ease;
}

.third a:hover{
    background-color: var(--green-color);
    color: white;
    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}



/* Learning Section */
.learning_section{
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    background-image: url(../images/index_img/learning_background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.learning_wrapper{
    padding: 0 50px;
    
}


.learning_wrapper h3{
    font-size: 3.5rem;
    color: var(--white-color)
}

.learning_wrapper p{
    font-size: 2.2rem;
    color: var(--white-color);
}
.learning_o_m{
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.learning_o_m img{
    box-shadow: 5px 5px 10px;
    border-radius: 5px;
    width: 400px;
    height: 250px;
    transition: 500ms ease;
}

.learning_o_m img:hover{
    transform: translate(-20px, -40px);
    box-shadow: 15px 50px 10px rgb(58, 55, 55)
} 
.learning_omb{
    display: flex;
    flex-direction: column;
    position: relative;
}

.learning_o_m strong{
    margin-left: 10px;
    font-size: 2rem;
    color: #0d6efd;
    position: absolute;
    bottom: -10px;
}

.learn__link{
    color: white;
    display: block;
    text-align: center;
    margin-top: 100px;
    font-size: 2rem;
    font-weight: 500;
    color: var(--white-color);
}


/* About Section */
.about_section{
    height: 100vh;
    width: 100%;
    padding: 100px 50px 0 50px;
    overflow-x: hidden;
    background-attachment: fixed;
}

.about_section .about_wrapper{
    display: flex;
    margin-left: 100px;
    padding: 20px 0;
}


.about_section .about_wrapper .about_wrapper_left img{
    width: 600px;
    height: 500px;
    margin-left: -100px;
    border-radius: 10px;
    border: 2px solid #7f7fd5;
    box-shadow: 5px 5px 1px #1e1e1e;
}

.about_section .about_wrapper .about_wrapper_right{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.about_section .about_wrapper .about_wrapper_right q{
    font-size: 2rem;
    color: #0d6efd;
    font-weight: 700;
}
.about_section .about_wrapper .about_wrapper_right img{
    height: 200px;
}

.about_wrapper_right p{
    margin-left: 50px;
    margin-right: 75px;
    margin-bottom: 25px;
    font-size: 1.2rem;
}

.about_wrapper_right .discover__link{
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--black-color);
    border-bottom: 2px solid black;
}



/* Mission Vission Objectives */
.mvo_section{
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    display: grid;
    place-content: center;
    overflow-x: hidden;
}

.mvo_section img{
    width: 200px;
    height: 200px;
    display: block;
    margin: 5px auto;
}

.mvo_wrapper{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


.mvo{
    width: 25%;
    height: calc(100vh - 250px);
    border: 1px solid black;
    border-radius: 20px;
    padding: 0 5px;
    box-shadow: -16px -5px 14px 0px rgba(0,0,0,0.75);

}

.mvo > h3{
    text-align: center;
}

.mvo.mission{
    background-color: #151e3d;
    color: var(--white-color);
}

.mvo.vission{
    background-color: #3944bc;
    color: var(--white-color);
}

.mvo.objectives{
    background-color: #241571;
    color: var(--white-color);
}

.mvo.mission::before{
    background-image: url('../images/index_img/mvo_mission.png');
    background-size: 120px 120px;
    display: block;
    margin: 3px auto;
    width: 120px; 
    height: 120px;
    content:" ";
}

.mvo.vission::before{
    background-image: url('../images/index_img/mvo_vission.png');
    background-size: 110px 110px;
    display: block;
    margin: 3px auto;
    width: 110px; 
    height: 110px;
    content:" ";
}

.mvo.objectives::before{
    background-image: url('../images/index_img/mvo_objectives.png');
    background-size: 120px 120px;
    display: block;
    margin: 3px auto;
    width: 120px; 
    height: 120px;
    content:" ";
}

.mvo.mission h3::after,
.mvo.vission h3::after,
.mvo.mvo.objectives h3::after{
    content: '';
    width: 100%;
    height: 15px;
    z-index: -1;
    display: block;
    -moz-border-radius:	 0 0 6px 6px; /* FF1+ */
    -webkit-border-radius:	0 0 6px 6px; /* Saf3+, Chrome */
    border-radius:	0 0 6px 6px; /* Opera 10.5, IE 9 */
    -moz-box-shadow: 0px 5px 6px rgba(0,0,0,1); /* FF3.5+ */
    -webkit-box-shadow: 0px 5px 6px rgba(0,0,0,1); /* Saf3.0+, Chrome */
    box-shadow: 0px 5px 6px rgba(0,0,0, 1); /* Opera 10.5, IE 9.0 */
    margin-bottom: 20px;
}

.mvo_wrapper p{
    padding: 5px 25px;
    font-size: 1.3rem;
    text-align: center;
    
    
}







/* Footer */
.footer_section{
    width: 100%;
    height: 100vh;
    padding-top: 100px;
    padding: 5px;
    background-image: linear-gradient(to right, #000428, #004e92, #000428 );
    display: grid;
    place-items: center;
    position: relative;
}

.footer_wrapper{
    width: 100%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--white-color);
    padding: 50px 100px;
    
}

.footer_up{
    margin-bottom: 50px;
}

.footer_up, .footer_down{
    display: flex;
}

.footer_up .footer.fl{
    margin-top: 50px;
    text-align: right;
    width: 30%;
}

.footer_up .footer.fm{
    text-align: center;
    width: 40%;
}


.footer_up .footer.fr{
    margin-top: 50px;
    width: 30%;
}


.footer_up .footer.fm p{
    font-family: var(--font-school-name);
    font-size: 3rem;
}

.footer_up .footer.fm span{
    font-size: 1.5rem;
    font-family: var(--font-tagline);
}


/* Footer down */
.footer_down .footer.fl{
    text-align: right;
    margin-top: auto;
    width: 30%;
}

.footer_down .footer.fl a, .footer_down .footer.fr i{
    text-decoration: none;
    color: var(--white-color);
    margin: 0 5px;
    font-size: 1.6rem;
}

.footer_down .footer.fl a:first-child{
    color: #4267B2;
}

.footer_down .footer.fl a:nth-child(2){
    color: #1DA1F2;
}

.footer_down .footer.fl a:nth-child(3){
    color: #7289DA;
}

.footer_down .footer.fl a:last-child{
    color: #34A853;
}

.footer_down .footer.fm a{
    opacity: .9;
    color: white;
}

.footer_down .footer.fm p{
    font-size: 1.2rem;
    opacity: .9;
}

.footer_down .footer.fm{
    margin-top: auto;
    text-align: center;
    width: 40%;
}

.footer_down .footer.fr{
    text-align: left;
    margin-top: auto;
    width: 30%;
}

.footer_down .footer.fr span{
    font-size: 1.6rem;
}

/* Footer 2 */
footer{
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

footer a{
    color: var(--white-color);
    opacity: .9;
    margin-right: 15px;
    text-decoration: none;
}

footer span{
    float: right;
    color: white;
    opacity: .8;
}

