@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&family=Zilla+Slab&display=swap');

/* Note|| Font stle is 'Poppins' 16px */

:root{
    font-size: 16px;
    --black-color: rgb(31, 29, 28);
    --white-color: #FFFFFF;
    --blue-color: #56A8CBFF;
    --green-color: #3fd4b7;
    --input-background-color: rgb(194, 207, 219);
    --font-school-name: 'Zilla Slab', serif;
    --font-tagline: 'Overpass', sans-serif;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.loader-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1e1e1e;
    z-index: 1000;
    transition: 750ms ease;
}
.wrapper{
    width:200px;
    height:60px;
    position: absolute;
    left:50%;
    top: 40%;
    transform: translate(-50%, -50%);
}
.circle{
    width:20px;
    height:20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left:15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle{
    0%{
        top:60px;
        height:5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height:20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        top:0%;
    }
    }
    .circle:nth-child(2){
    left:45%;
    animation-delay: .2s;
    }
    .circle:nth-child(3){
    left:auto;
    right:15%;
    animation-delay: .3s;
    }
    .shadow{
    width:20px;
    height:4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top:62px;
    transform-origin: 50%;
    z-index: -1;
    left:15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
    }

    @keyframes shadow{
    0%{
        transform: scaleX(1.5);
    }
    40%{
        transform: scaleX(1);
        opacity: .7;
    }
    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
    }
    .shadow:nth-child(4){
    left: 45%;
    animation-delay: .2s
    }
    .shadow:nth-child(5){
    left:auto;
    right:15%;
    animation-delay: .3s;
    }
    .wrapper span{
    position: absolute;
    top: 75px;
    font-size: 25px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    }


    .parentContainer{
        display: flex;
        overflow-x: hidden;
        background-color: #151e3d;
    }


/* OTP Enter */
.reset_pass_wrapper{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    transition: all 1000ms;
}

form{
    padding: 25px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 120px;
    height: 120px;
    display: block;
    margin: 20px auto;
}


form .fyp{
    color: var(--white-color);
    font-size: 2rem;
    margin-bottom: 20px;
}

form p{
    color: var(--white-color);
    text-align: center;
}

form input{
    margin: 20px;
    width: 80%;
    padding: 15px 10px 15px 15px;
    border-radius: 5px;
    border-color: #3fd4b7;
    outline: none;
    background: transparent;
    color: white;
    -webkit-box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF;
    box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF;
}

form button{
    background: transparent;
    border-color: #3fd4b7;
    color: var(--white-color);
    cursor: pointer;
    border-radius: 5px;
    padding: 7px 15px;    
}

.foot{
    margin-top: 50px;
    color: var(--white-color);
}

.foot a{
    color: lightgreen;
}

.email_span{
    color: var(--green-color);
}

.reset_pass_wrapper.hide{
    width: 0;
    visibility: hidden;
    opacity: 0;
    user-select: none;
    pointer-events: none;
}

/* Reset Password */

.change__{
    width: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 1000ms;
    
}

.change__.active{
    width: 100%;
    visibility: visible;
    opacity: 1;

}

.change__ input{
    margin-top: 5px;
}
.change__ button{
    margin-top: 20px;
}