@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&family=Zilla+Slab&display=swap');

/* Note|| Font stle is 'Poppins' 16px */

:root{
    font-size: 16px;
    --black-color: rgb(31, 29, 28);
    --white-color: #FFFFFF;
    --blue-color: #56A8CBFF;
    --green-color: #3fd4b7;
    --input-background-color: rgb(194, 207, 219);
    --font-school-name: 'Zilla Slab', serif;
    --font-tagline: 'Overpass', sans-serif;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LOADER */
.loader-wrapper{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #1e1e1e;
    z-index: 1000;
    transition: 500ms ease;
  }
  .wrapper{
    width:200px;
    height:60px;
    position: absolute;
    left:50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }
  .circle{
    width:20px;
    height:20px;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    left:15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
  }
  
  @keyframes circle{
    0%{
        top:60px;
        height:5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40%{
        height:20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100%{
        top:0%;
    }
    }
    .circle:nth-child(2){
    left:45%;
    animation-delay: .2s;
    }
    .circle:nth-child(3){
    left:auto;
    right:15%;
    animation-delay: .3s;
    }
    .shadow{
    width:20px;
    height:4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,.5);
    position: absolute;
    top:62px;
    transform-origin: 50%;
    z-index: -1;
    left:15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
    }
  
    @keyframes shadow{
    0%{
        transform: scaleX(1.5);
    }
    40%{
        transform: scaleX(1);
        opacity: .7;
    }
    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
    }
    .shadow:nth-child(4){
    left: 45%;
    animation-delay: .2s
    }
    .shadow:nth-child(5){
    left:auto;
    right:15%;
    animation-delay: .3s;
    }
    .wrapper span{
    position: absolute;
    top:75px;
    font-family: 'Lato';
    font-size: 25px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    }
/* LOADER */


.nav__bar{
    width: 100%;
    height: 60px;
    background: #659dbd;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    transition: 300ms ease;
    position: fixed;
    z-index: 1000;
}





.nav__bar .nav__bar_two img{
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

.nav__bar .nav__bar_two{
    display: flex;
    align-items: center;
}


.nav__bar .nav__bar_two .nav__bar_two_text span{
    display: block;
    font-family: var(--font-school-name);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--white-color);
    margin-top: 10px;
}

.nav__bar .nav__bar_two .nav__bar_two_text p{
    font-family: var(--font-tagline);   
    color: var(--white-color);
    font-weight: bold;   
    margin-bottom: 10px;
}



/* Left Tab! */
.left-tab{
    padding: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    max-width: 300px;
    position: fixed;
    margin-top: 60px;
    background-color: #659dbd;
    color: var(--white-color);
    z-index: 999;
}
.upper-left-tab{
    position: relative;
}
.upper-left-tab > *{
    transition: 300ms ease;
}


.upper-left-tab img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 20px auto 5px;
}

.reg__name{
    text-align: center;
    margin: 0;
    font-weight: 500;
    margin-bottom: 5px;

}

.reg__name i{
    cursor: pointer;

}

.profile_link{
    padding: 5px;
    display: flex;
    opacity: 0;
    flex-direction: column;
    border-radius: 5px;
    width: 225px;
    margin: -20px auto 10px;
    transition: 300ms ease;
    height: 0;
    box-shadow: -2px 11px 14px 0px rgba(248, 247, 247, 0.2);
    user-select: none;
    pointer-events: none;
    border: 1px solid var(--white-color);
}

.profile_link.show{
    opacity: 1;
    height: 80px;
    margin: 5px auto 10px;
    user-select: auto;
    pointer-events: auto;
}

.profile_link a:hover{
    opacity: .8;
}

.profile_link a{
    display: block;
    margin-left: 10px;
    color: var(--white-color);
    text-decoration: none;
}
.nav-link.main__{
    color: var(--white-color);
    font-size: 1.2rem;
    padding: 10px 25px;
    line-height: 25px;
    width: 100%;
    text-align: center;
    transition: 250ms;
    border-bottom: 1px solid var(--white-color);
    border-radius: 0;
}
.nav-link.main__:first-child{
    border-top: 1px solid var(--white-color);
}

.nav-link.main__.active{
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: 0;
}


.title_tab_universal{
    font-size: 2rem;
}

/* Right Tab */
.row{
    width: 100%;
}

.right-tab{
    margin-top: 60px;
    margin-left: 300px;
    
}

/* Dashboard */
.dashboardImages img{
    width: 75px;
    height: 75px;
    border-radius: 25px;
}

.miniDashboardInner img{
    width: 150px;
    height: 150px;
}

.paymentPlatform span{
    display: block;
    text-align: center;
    line-height: 0;
    color: var(--blue-color);
    font-size: 1.3rem;
}

.paymentPlatform{
    cursor: pointer;
    transition: 300ms ease;
}

.paymentPlatform:hover{
    transform: scale(1.1);
}


/* Payment Application */
.miniDashboard{
    width: 100%;
    padding: 25px 75px;
    display: block;
    margin: 10px 0;
    border: 2px solid var(--blue-color);
    
}

.miniDashboardh3{
    color: #1e1e1e;
    font-weight: 500;
}

/* Form in payment Application */
.universalLightGrayBg{
    background: lightgray;
}
.payAppFormWrapper{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 25px;
}

.leftForm .input-group input{
    min-width: 300px;
}


.rightFormInner{
    width: 350px;
    height: 100%;
    border: 2px dashed #0d6efd;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    display: grid;
    margin-bottom: 10px;
    place-items: center;
}

.rightForm_text{
    max-width: 75%;
    font-weight: 500;
    text-align: center;
}


