@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Note|| Font stle is 'Poppins' 16px */

:root{
    font-size: 16px;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FORGOT PASSWORD POPUP */

body{
    background: #141e30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #141e30, #243b55); /* Chrome 10-25, Safari 5.1-6 */
    background-color: linear-gradient(to right, #141e30, #243b55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.popup-forgot-password.active{
    filter: blur(20px);
    user-select: none;
    pointer-events: none;
}
.popup-forgot-password{
    width: 100%;
    height: 100vh;
    position: absolute;
     display: grid;
    place-content: center;
}

.popup-forgot-password h2{
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.popup-forgot-password h4{  
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.popup-forgot-password p{
    margin: 2px auto;
    color: white;
    text-align: center;
    width: 55%;
}

.popup-forgot-password .forgot-passwordImg{
    width: 180px;
    height: 180px;
    display: block;
    margin: 10px auto;
    transition: 500ms ease;
}

.popup-forgot-password form .forgot-password-input{
    display: block;
    margin: 10px auto;
    padding: 3px 7px;
    font-size: 1.2rem;
    width: 60%;
    outline: none;
    border: 3px solid #06c;
    border-radius: 5px;
    background: #fff;
    text-align: center;
}

.popup-forgot-password form .forgot-password-btn{
    display: block;
    margin: 15px auto;
    border: 2px solid #06c;
    padding: 5px;
    width: 12%;
    background: #243b55;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 300ms ease;
    font-size: 1.2rem;
    
}

.popup-forgot-password form .forgot-password-btn:hover{
    background: #2374d1;
}   

/* OTP popup */
.forgot-password-otp.active{
    visibility: visible;
    opacity: 1;
    top: 50%;
}
.forgot-password-otp{
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    width: 380px;
    height: 280px;
    background-image: linear-gradient(to right, #141e30, #243b55);  
    padding: 20px;
    border-radius: 20px;
    visibility: hidden;
    opacity: 0;
    transition: 500ms ease;
}

.forgot-password-otp h3{
    font-size: 1.6rem;
    color: white;
    margin: 10px;
}

.otp-box{
    width: 90%;
    margin: 10px auto;
    font-size: 1.1rem;
    font-weight: 500;
    background: #99ee99;
    color: black;
    font-size: .9rem;
    border-radius: 5px;
}

.forgot-password-otp form input{
    padding: 5px;
    margin: 5px 0;
    width: 80%;
    text-align: center;
    font-weight: bold;
}

.forgot-password-otp form input:nth-child(2){
    background: lightgray;
    color: black;
    cursor: pointer;
    border: none;
    transition: 300ms ease;
}
.forgot-password-otp form input:hover:nth-child(2){
    background: #99ee99;
    transform: translateY(-5px);
    box-shadow: 12px 10px 20px #1e1e1e;
}

