@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&family=Zilla+Slab&display=swap');

/* Note|| Font stle is 'Poppins' 16px */

:root{
    font-size: 16px;
    --black-color: rgb(31, 29, 28);
    --white-color: #fff;
    --blue-color: #56A8CBFF;
    --green-color: #3fd4b7;
    --font-school-name: 'Zilla Slab', serif;
    --font-tagline: 'Overpass', sans-serif;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}







.row{
    height: 100%;
    width: 100%;
}

.left-tab{
    height: 100vh;
    border-right: 2px solid var(--blue-color);
    padding: 0;
    height: 100vh;
    max-width: 300px;
}

.upper-left-tab img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 20px auto 5px;
}

.reg__name{
    text-align: center;
    margin: 0;
    font-weight: 500;
    margin-bottom: 5px;
}

.nav-link{
    border-bottom: 2px solid var(--black-color);
    background-color: lightgrey;
    color: black;
    font-size: 1.2rem;
    padding: 25px;
    line-height: 25px;
    width: 100%;
    text-align: center;
    transition: 250ms;
}


q{
    text-align: center;
   margin-top: 50px;
}


.__reg-unreg{
    font-size: 2rem;
    text-align: center;
}



.dashboard form input{
    width: 80%;
    margin: 0 auto 10px;
    font-size: 1.1rem;
    padding: 5px;
    text-align: center;
    display: block;
    outline-color: black;
    border-radius: 5px;
}

.dashboard form button{
    display: block;
    margin: 0 auto;
}

.unreg_students_div{
    background-color: lightgray;
    height: 550px;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    overflow: auto;
}

.select__{
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
}

.table{
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
}

.app_del{
   margin: 2px 0;
    width: 100%;
}


