@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&family=Zilla+Slab&display=swap');

/* Note|| Font stle is 'Poppins' 16px */

:root{
    font-size: 16px;
    --black-color: rgb(31, 29, 28);
    --white-color: #fff;
    --blue-color: #56A8CBFF;
    --green-color: #3fd4b7;
    --font-school-name: 'Zilla Slab', serif;
    --font-tagline: 'Overpass', sans-serif;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}







.row{
    height: 100%;
    width: 100%;
}

.left-tab{
    height: 100vh;
    border-right: 2px solid var(--blue-color);
    padding: 0;
    height: 100vh;
    max-width: 300px;
    position: fixed;
}


.right-tab{
    margin-left: 300px;
}

.upper-left-tab img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 20px auto 5px;
}

.reg__name{
    text-align: center;
    margin: 0;
    font-weight: 500;
    margin-bottom: 5px;
}

.nav-link.main__{
    border-bottom: 2px solid var(--black-color);
    background-color: lightgrey;
    color: black;
    font-size: 1.2rem;
    padding: 25px;
    line-height: 25px;
    width: 100%;
    text-align: center;
    transition: 250ms;
}


q{
    text-align: center;
   margin-top: 50px;
}


.__reg-unreg, .__manage-users-p{
    font-size: 2rem;
}

.dashboard-tab form, .manage-users-tab form{
    display: flex;
}


.dashboard-tab form input, .manage-users-tab form input{
    width: 60%;
    margin: 0 2px;
    font-size: 1.1rem;
    padding: 5px;
    text-align: center;
    outline-color: black;
    border-radius: 5px;
}



.unreg_students_div{
    background-color: lightgray;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    overflow: auto;
    height: 500px;
}

.select__{
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
}

.notice__{
    background-color: rgb(238, 63, 98);
    text-align: center;
    padding: 2px;
    color: black;
    text-transform: uppercase;
}

.notice__ span{
    text-transform: none;
    color: var(--white-color);
}

.table{
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
}

.app_del{
    margin: 2px 0;
    width: 100%;
}

.manage-users-tab__secondary{
    margin-top: 15px;
    
}

.manage-users-tab__secondary__nav{
    height: 50px;
}

.stud__tab{
    padding: 5px;
    width: 100%;
    background-color: lightgray;
    border: 1px solid rgb(226, 226, 33);
}


.role_information{
    font-size: 1.5rem;
    
}



.student__group{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    max-height: 80px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #28a745;
    padding: 2px 5px;
    
}

.student__group_left{
    display: flex;
    align-items: center;
}


.student__group_left img{
    width: 45px;
    height: 45px;
}

.student__group_right strong{
    font-size: 1.3rem;
    
}

.all_student_info{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    
}

.input-group-text{
font-weight: bold;
}

.manage_users_students_tab_lmr_parent{
    display: flex;
}

@media (max-width: 768px) {
    .manage_users_students_tab_lmr_parent{
        flex-wrap: wrap;
        
    } 
}



.manage_users_students_left_tab{
    width: 180px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.manage_users_students_left_tab img{
    max-width: 180px;
    max-height: 180px;
}

.manage_users_students_mid_tab{
    display: flex;
    flex-direction: column;
    
}



.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label{
    opacity: .65;
    transform: scale(.85) translateY(-.70rem) translateX(.15rem);
    color: #0d6efd;
}


.buttons_manage_students{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    
}

.buttons_manage_students button{
    margin: 10px 5px;
    width: 200px;
}


hr{
    border: 2px solid #0d6efd;
}